body {
  background: #eee;
  font-family: sans-serif;
  /* font-size: 16px; */
}

.card {
  width: 75%;
  background: #fff;
  margin: 30px auto;
  padding: 20px 15px 15px 
}

.title {
  background: #e3f4ff;
  margin: 15px 0px;
  padding: 15px 15px;
}

.content {
  background: #e3f4ff;
  font-size: 30px;
  padding: 30px 16px;
}

.button-container {
  background: #e3f4ff;
  font-size: 30px;
  text-align: center;
  margin: 15px 0px 0px;
  padding: 20px;
}

button {
  background: white;
  font-size: 25px;
  border: 1px solid #eee;
  padding: 16px 40px
}